@import url("https://fonts.googleapis.com/css?family=Poppins")


/*
 * Colors
 */
$green = #247354


/*
 * IDs
 */
#letters
	position: absolute
	top: 0
	right: 0
	left: 0
	height: 200px
	z-index: 1
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	background: $green
